/* IMPORTAR */
.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav .nav-item {
  display: inline-block;
}

.nav__Ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__Li {
  margin: 1rem;
  font-size: 1.2rem;
  list-style: none;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.nav__Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "koulen";
}

.nav__Logo-img {
  margin-left: 2rem;
  width: 70px;
  height: 70px;
  filter: brightness(100%);
}
.nav__Logo-img:hover {
  animation: girarLogo 1s linear;
}
@keyframes girarLogo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0);
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.section1__Takeaway-text1 {
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  border: solid rgb(25, 215, 0) 3px;
}

.section1__Takeaway-text2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  text-decoration: underline;
}

.inicio2__veggie-imagen {
  width: 90%;
}

@media screen and (max-width: 400px) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .section1__Takeaway-text1 {
    padding: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    border: solid rgb(25, 215, 0) 3px;
  }
  .section1__Takeaway-text2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-decoration: underline;
  }
  .inicio2__veggie-imagen {
    width: 90%;
  }
}
.burger-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: center;
  background-color: rgb(200, 243, 46);
  padding-left: 15px;
  color: #000000;
}

.menu {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "ele1 ele2" "ele3 ele4" "ele5 ele6";
  background-color: #000000;
}

.grid1 {
  grid-area: ele1;
  width: 350px;
}

.grid2 {
  grid-area: ele2;
  width: 350px;
}

.grid3 {
  grid-area: ele3;
  width: 350px;
}

.grid4 {
  grid-area: ele4;
  width: 350px;
}

.grid5 {
  grid-area: ele5;
  width: 350px;
}

.grid6 {
  grid-area: ele6;
  width: 350px;
}

.menuTitulo {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 3px;
}

.menuDesc {
  color: antiquewhite;
  font-size: 1rem;
  margin: 5px;
}

.containerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
  -webkit-box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
  -moz-box-shadow: -8px -10px 5px 0px rgb(254, 254, 254);
}
.containerMenu:hover {
  animation: expandirMenu 2s forwards linear;
}

@keyframes expandirMenu {
  to {
    transform: scale(0deg);
  }
  from {
    transform: scale(1.1);
    box-shadow: -8px -10px 5px 0px rgb(219, 24, 154);
    -webkit-box-shadow: -8px -10px 5px 0px rgb(224, 59, 114);
    -moz-box-shadow: -8px -10px 5px 0px rgb(168, 24, 84);
  }
}
.menuImg {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin: 5px;
}

@media screen and (max-width: 850px) {
  .burger-text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 1rem;
    text-align: center;
    background-color: rgb(200, 243, 46);
    padding-left: 15px;
    color: #000000;
  }
  .containerMenu {
    text-align: center;
    margin: 0;
  }
  .menu {
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6";
    background-color: #000000;
  }
  .grid1 {
    grid-area: ele1;
    width: 350px;
  }
  .grid2 {
    grid-area: ele2;
    width: 350px;
  }
  .grid3 {
    grid-area: ele3;
    width: 350px;
  }
  .grid4 {
    grid-area: ele4;
    width: 350px;
  }
  .grid5 {
    grid-area: ele5;
    width: 350px;
  }
  .grid6 {
    grid-area: ele6;
    width: 350px;
  }
  .menuTitulo {
    color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 3px;
  }
  .menuDesc {
    color: antiquewhite;
    font-size: 1rem;
    margin: 5px;
  }
  .containerMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
    -webkit-box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
    -moz-box-shadow: -8px -10px 5px 0px rgb(254, 254, 254);
  }
  .menuImg {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    margin: 5px;
  }
}
@media screen and (max-width: 400px) {
  .burger-text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 1rem;
    text-align: center;
    background-color: rgb(200, 243, 46);
    padding-left: 15px;
    color: #000000;
  }
  .menu {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 350px);
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6";
    background-color: #000000;
  }
  .grid1 {
    grid-area: ele1;
    width: 270px;
  }
  .grid2 {
    grid-area: ele2;
    width: 270px;
  }
  .grid3 {
    grid-area: ele3;
    width: 270px;
  }
  .grid4 {
    grid-area: ele4;
    width: 270px;
  }
  .grid5 {
    grid-area: ele5;
    width: 270px;
  }
  .grid6 {
    grid-area: ele6;
    width: 270px;
  }
  .menuTitulo {
    color: aliceblue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: 3px;
  }
  .menuDesc {
    color: antiquewhite;
    font-size: 1rem;
    margin: 5px;
  }
  .containerMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
    -webkit-box-shadow: -8px -10px 5px 0px rgb(255, 255, 255);
    -moz-box-shadow: -8px -10px 5px 0px rgb(254, 254, 254);
  }
  .menuImg {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    margin: 5px;
  }
}
.sec-promociones {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: "ele1 ele2" "ele3 ele4";
}

.promo1 {
  grid-area: ele1;
  margin: 5px;
  padding: 1rem;
  margin: 1rem;
}

.promo2 {
  grid-area: ele2;
  margin: 1rem;
}

.promo3 {
  grid-area: ele3;
  margin: 1rem;
}

.promo4 {
  grid-area: ele4;
  margin: 1rem;
}

.promoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}

.promoBancos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.bancoImg {
  width: 300px;
}

.bancoDesc {
  margin: 1rem;
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .sec-promociones {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "ele1" "ele2" "ele3" "ele4";
  }
  .promo1 {
    grid-area: ele1;
    margin: 5px;
    padding: 1rem;
    margin: 0;
  }
  .promo2 {
    grid-area: ele2;
    margin: 1rem;
  }
  .promo3 {
    grid-area: ele3;
    margin: 1rem;
  }
  .promo4 {
    grid-area: ele4;
    margin: 1rem;
  }
  .promoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 2rem;
  }
  .promoBancos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .bancoImg {
    width: 350px;
  }
  .bancoDesc {
    margin: 1rem;
    font-size: 1.1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media screen and (max-width: 400px) {
  .sec-promociones {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1;
    grid-template-rows: 1;
    grid-template-areas: "ele1" "ele2" "ele3" "ele4";
  }
  .promo1 {
    grid-area: ele1;
    margin: 5px;
    padding: 1rem;
    margin: 0;
  }
  .promo2 {
    grid-area: ele2;
    margin: 1rem;
  }
  .promo3 {
    grid-area: ele3;
    margin: 1rem;
  }
  .promo4 {
    grid-area: ele4;
    margin: 1rem;
  }
  .promoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 2rem;
  }
  .promoBancos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .bancoImg {
    width: 260px;
  }
  .bancoDesc {
    margin: 1rem;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
/* USO DE MIXIN */
.nosotros {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros_Historia {
  flex-direction: column;
  width: 90vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros_Historia-Imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros_Historia-Familia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
}

.nosotros_Historia-Titulo {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgb(1, 96, 64);
  margin: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nosotros_Historia-Txt {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.imgNosotros {
  width: 350px;
  text-align: center;
  margin: 1rem;
}

@media screen and (max-width: 1150px) {
  .nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nosotros_Historia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    padding: 1rem;
  }
  .nosotros_Historia-Imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .nosotros_Historia-Familia {
    flex-direction: column;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros_Historia-Titulo {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(1, 96, 64);
    margin: 1rem;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .nosotros_Historia-Txt {
    font-size: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .imgNosotros {
    width: 350px;
    text-align: center;
    margin: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .nosotros {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  .nosotros_Historia {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  .nosotros_Historia-Imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .nosotros_Historia-Familia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
  .nosotros_Historia-Titulo {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    color: rgb(1, 96, 64);
    margin: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .nosotros_Historia-Txt {
    text-align: center;
    font-size: 1rem;
    width: 80vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .imgNosotros {
    width: 280px;
    text-align: center;
    margin: 1rem;
  }
}
.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-left: 5rem;
}

.btn {
  margin: 1rem;
}

@media screen and (max-width: 760px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 1rem;
  }
  .btn {
    margin: 1rem;
  }
  .bancoDesc {
    text-align: center;
  }
}
.footer {
  width: auto;
  height: 200px;
  background-color: rgb(170, 136, 1);
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-1 {
  width: 50px;
  margin: 1rem;
}

@media screen and (max-width: 400px) {
  .footer {
    width: auto;
    height: auto;
    background-color: rgb(170, 136, 1);
  }
  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .footer-1 {
    width: 50px;
    margin: 1rem;
  }
  .footer-1 .bancoDesc {
    font-size: 10px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */