.navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-item {
    display: inline-block;
    
}

.nav__Ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__Li{
    margin: 1rem;
    font-size: 1.2rem;
    list-style: none;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.nav__Link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'koulen';
}

.nav__Logo-img{
    margin-left: 2rem;
    width: 70px;
    height: 70px;
    filter: brightness(100%);
    &:hover {
        animation: girarLogo 1s linear;
    }

    @keyframes girarLogo {
        from {
        transform: rotate(0)
        }
        to {
        transform: rotate(360deg);
        }
        from {
            transform: rotate(0);
        }
    }
}
